* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
  font-size: 100%;
}

.timer-container {
  color: #000;
  padding-bottom: 25px;
}

.timer {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.timer div:first-child {
  border: 1px solid #000;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 3em;
  padding: 3em;
  text-align: center;
}

section p:first-child, .timer div:last-child span {
  font-size: 3em;
}

.brief-desc {
  padding-top: 10px;
  padding-bottom: 30px;
}

